* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

/* Khôi phục lại cỡ chữ mặc định theo rem */

body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
}

/* ==========Common========== */

a {
  text-decoration: none;
  color: #000;
}

.main-content {
  width: 1170px;
  max-width: calc(100% - 48px);
  margin: 0px auto;
}

.line {
  border: none; /* Loại bỏ viền mặc định */
  border-top: 0.5px solid rgba(0, 0, 0, 0.3);
}

.line1 {
  width: 1170px;
  margin: 60px auto 0px;
}

.view-all-products {
  border-radius: 4px;
  margin: 60px auto;
  width: 234px;
  color: #fafafa;
  background-color: #db4444;
  padding: 16px 48px;
  font-weight: 500;
  line-height: 1.5; /* 150% */
  cursor: pointer;
}

.view-all-products:hover {
  background-color: #db4444c9;
}
/* title product */
.title-top {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-top: 140px;
}

.title-top .color-top {
  width: 20px;
  height: 40px;
  background-color: #db4444;
  border-radius: 4px;
}

.title-top .title-tag {
  color: #db4444;
  /* Title/16PX Semibold */
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.25; /* 125% */
}

.heading {
  display: flex;
  align-items: flex-end;
  margin-top: 13px;
}

.heading .heading-tag {
  color: #000;
  /* Heading/36PX SemiBold */
  font-family: Inter;
  font-size: 3.6rem;
  font-weight: 600;
  line-height: 0.86; /* 133.333% */
  letter-spacing: 1.44px;
  margin-right: 87px;
}

.button {
  display: flex;
  margin-left: auto;
  gap: 8px;
}

.button .box {
  border: none;
  width: 46px;
  height: 46px;
  background-color: #f5f5f5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
/* Header */

header {
  position: sticky;
  top: -71px;
  background: #fff;
  z-index: 10;
}

/* ==========Top Header========= */

.top-header {
  color: white;
  background: #000;
  font-size: 1.4rem;
  line-height: 1.5;
}

.top-header .body {
  width: 859px;
  display: flex;
  align-items: center;
  margin-left: auto;
  padding: 12px 0;
}

.sale {
  display: flex;
  align-items: center;
  gap: 8px;
}

.sale p {
  width: 474px;
}

.sale strong {
  font-weight: 600;
  text-decoration-line: underline;
  line-height: 1.7;
}

.language {
  margin-left: auto;
  display: flex;
  gap: 5px;
  align-items: center;
}

/* ==========Main Header========== */

.main-header .body {
  display: flex;
  align-items: center;
  padding: 40px 0 16px;
}

.nav {
  margin-left: auto;
}

.nav ul {
  display: flex;
}

.nav a {
  position: relative;
  line-height: 1.5;
  padding: 0px 24px;
}

.search-bar {
  background-color: #f5f5f5;
  display: flex;
  margin-left: 124px;
  margin-right: 24px;
  padding: 7px 12px 7px 20px;
  border-radius: 4px;
}

.search-bar input {
  border: none;
  outline: none;
  background: transparent;
  width: 153px;
  margin-right: 34px;
}

.search-bar input::placeholder {
  font-size: 1.2rem;
  line-height: 1.5;
  font-family: Poppins;
  opacity: 0.5;
}

.search-bar button {
  border: none;
  background: transparent;
  cursor: pointer;
}

.header-icons {
  display: flex;
  gap: 16px;
}

.nav li.active a::after {
  position: absolute;
  display: block;
  content: "";
  width: 48px;
  height: 1px;
  left: 24px;
  top: 21px;
  background: black;
  opacity: 0.5;
}

/* ==========Hero========== */

.hero .body {
  display: flex;
}

/* ==========Hero left========== */

.hero .sidebar {
  width: 20%;
  padding: 40px 16px 0px 0px;
  font-size: 1.6rem;
  line-height: 1.5; /* 150% */
  border-right: 0.5px solid rgba(0, 0, 0, 0.3);
}

.hero .sidebar .active {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hero .sidebar li + li {
  margin-top: 16px;
}

/* ==========Hero right========== */

.hero .hero-banner {
  width: 892px;
  height: 344px;
  margin: 40px 0 0 45px;
  background: #000;
  color: #fff;
}

.hero .banner {
  display: flex;
  margin-left: 64px;
  margin-top: 16px;
  height: 281px;
}

.hero .banner-content {
  width: 40%;
  padding-top: 42px;
}

.hero .banner-content .apple {
  display: flex;
  align-items: center;
  gap: 24px;
  font-size: 1.6rem;
  line-height: 1.5;
}

.hero .banner-content p {
  width: 294px;
  font-family: "Inter", sans-serif;
  font-size: 4.8rem;
  font-weight: 600;
  line-height: 1.25; /* 125% */
  letter-spacing: 1.92px;
  margin-top: 20px;
}

.hero .banner-content .shopnow {
  margin-top: 22px;
  display: flex;
  gap: 8px;
  cursor: pointer;
}

.hero .banner-content .shop-now-btn {
  display: inline-block;
  color: #fff;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  padding-bottom: 4px;
  border-bottom: 1px solid #fafafa;
}

.hero .banner-image {
  overflow: hidden;
}

.hero .box-cirle {
  display: flex;
  width: 110px;
  gap: 12px;
  align-items: center;
  margin-left: 353px;
  margin-top: 23px;
}

.hero .cirle {
  width: 12px;
  height: 12px;
  background-color: white;
  opacity: 0.5;
  border-radius: 50%;
  cursor: pointer;
}

.hero .box-cirle .cirle:nth-child(3) {
  opacity: 1;
  width: 14px;
  height: 14px;
  border: 2px solid white;
  background-color: red;
}

/* ==========flash-sale========== */
.flash-sale-top .title-top {
  margin-top: 140px;
}

.flash-sale-top .heading .time {
  display: flex;
}

.flash-sale-top .time .item-x .numbers {
  margin-top: 4px;
  width: 46px;
  height: 28px;
  font-family: Inter;
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 0.94; /* 93.75% */
  letter-spacing: 1.28px;
}

.flash-sale-top .time .item-x .letter {
  /* Title/12PX Medium */
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.5; /* 150% */
}

.flash-sale-top .time .item-y {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin: 26px 17px 8px;
}

.product-flex {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}

.product-flex .product-card {
  width: 270px;
}

.product-flex .product-image {
  height: 250px;
  background-color: #f5f5f5;
  position: relative;
  border-radius: 4px;
  margin-top: 40px;
}

.discount {
  position: absolute;
  top: 12px;
  left: 12px;
  background-color: #db4444;
  color: #fafafa;
  padding: 4px 12px;
  font-size: 1.2rem;
  line-height: 1.5; /* 150% */
  border-radius: 4px;
}

.product-flex .product-image .box {
  position: absolute;
  right: 12px;
  top: 12px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.product-flex .product-image {
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-flex .product-image .act {
  width: 34px;
  height: 34px;
  background-color: #fff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-card .product-title {
  margin-top: 16px;
  line-height: 1.5; /* 150% */
  font-weight: 500;
}

.product-card .product-price {
  margin-top: 8px;
  display: flex;
  gap: 12px;
}

.current-price {
  color: #db4444;
  font-weight: 500;
  line-height: 1.5; /* 150% */
}

.product-card .product-price .original-price {
  opacity: 0.5;
  font-weight: 500;
  line-height: 1.5; /* 150% */
  text-decoration-line: line-through;
}

.product-card .product-rating .rating-star {
  display: flex;
}

.product-card .product-rating {
  display: flex;
  gap: 8px;
  margin-top: 8px;
  align-items: center;
}

.product-card .product-rating .rating-count {
  opacity: 0.5;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1.5; /* 150% */
}

.add-to-cart-btn {
  position: absolute;
  font-family: Poppins;
  border: none;
  background-color: #000;
  color: #fff;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5; /* 150% */
  padding: 8px 87px 9px;
  border-radius: 0px 0px 5px 5px;
  bottom: 0;
  left: 0;
  z-index: -1;
  transition: z-index 0.3s ease;
}

.product-image:hover .add-to-cart-btn {
  z-index: 1;
}

/* ==========Categories========== */

.categories .title-top {
  margin-top: 80px;
}

.browse-by-category {
  display: flex;
  gap: 30px;
  margin-top: 60px;
  margin-bottom: 70px;
}

.item-browse {
  width: 170px;
  height: 145px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.3);
}

.item-browse .title-browse {
  line-height: 1.5;
}

.item-browse:hover {
  color: #fafafa;
  background-color: #db4444;
  border: 1px solid #db4444;
}

/* ==========best seller========== */

.best-selling-products .title-top {
  margin-top: 70px;
}

.best-selling-products .view-all {
  color: #fafafa;
  /* Title/16PX Medium */
  font-weight: 500;
  line-height: 1.5; /* 150% */
  background: #db4444;
  padding: 16px 48px;
  border-radius: 4px;
  margin-left: auto;
}

/* ==========boombox========== */

.boombox .body {
  margin-top: 140px;
  background-color: #000;
  display: flex;
}

.boombox .boombox-left {
  width: 46%;
  padding: 69px 0px 69px 56px;
}

.boombox-left .title {
  color: #0f6;
  font-weight: 600;
  line-height: 1.25; /* 125% */
}

.boombox-left .desc {
  margin-top: 32px;
  color: #fafafa;
  width: 443px;
  font-family: Inter;
  font-size: 4.8rem;
  font-weight: 600;
  line-height: 1.25; /* 125% */
  letter-spacing: 1.92px;
}

.boombox-left .time-flex {
  display: flex;
  gap: 24px;
  margin-top: 35px;
}

.boombox-left .time {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 62px;
  height: 62px;
  border-radius: 50%;
  background-color: #ffff;
}

.boombox-left .number {
  font-weight: 600;
  line-height: 1.25;
}

.boombox-left .word {
  font-size: 1.1rem;
  line-height: 1.64; /* 163.636% */
}

.boombox-left .buy-now {
  margin-top: 40px;
  display: inline-block;
  padding: 16px 48px;
  background-color: #0f6;
  border-radius: 4px;
  color: #fafafa;
  font-weight: 500;
  line-height: 1.5; /* 150% */
}

.boombox .boombox-right {
  width: 54%;
  position: relative;
}

.image-boombox {
  border-radius: 504px;
  opacity: 0.3;
  background: #d9d9d9;
  width: 504px;
  height: 500px;
  filter: blur(100px);
}

.boombox-right img {
  position: absolute;
  top: 82px;
  z-index: 1;
}

.boombox-left .buy-now:hover {
  background-color: rgba(0, 255, 98, 0.788);
}

/* ==========our-products========== */

.our-products .title-top {
  margin-top: 71px;
}

.our-products .discount {
  background-color: #0f6;
}

.color-products {
  margin-top: 8px;
}
